/* img {
    transition: 0.5s;
    flex: 16%;
    position: relative;
    text-shadow: 10px 10px 10px rgb(162, 248, 110);
    margin: 34px 12px;
    height: 300px;
    width: 195px;
    overflow: hidden;
    cursor: pointer;
  }
 */

  

